#footer
  .footer-nav.left
    %ul
      %li
        %a{:href => "#"} Home
      %li
        %a{:href => "#"} About
      %li
        %a{:href => "#"} Services
      %li
        %a{:href => "#"} Projects
      %li
        %a{:href => "#"} Blog
      %li.last
        %a{:href => "#"} Contact
