#myslides
  .rightone#mygallery-paginate
    %img{"data-moveby" => "1", "data-over" => "images/graycircle.png", "data-select" => "images/closedcircle.png", :src => "images/opencircle.png"}
  #mygallery.stepcarousel
    .belt
      - homes.each do |data|
        .panel{:style => "float: none; position: absolute;"}
          %img{:src => "/images/ProductPageImages/#{data.image}"}
