%div.content-bg
  %ul.products
    %li.no-pad
      %ul
        %li.box-heading-image
          %span.package-new-text
            What's Your Idea ?
        %li.box-content.no-pad
          %p We want you to think BIG! Whether it's designing a logo for your website or building a brand for the client, the only way to obtain true success is to think as big as you want to be. That's why Artex has combined industry professionals together to display the work of their hands and promote those who aim to please rather than squeeze!
    %li.no-pad
      %ul
        %li.box-heading-image
          %span.package-new-text
            Technologies
        %li.box-content.no-pad
          =image_tag("/images/technologies_logo.png")
    %li.no-pad
      %ul
        %li.box-heading-image
          %span.package-new-text
            Solutions
        %li.box-content.no-pad
          #slideshow
            =image_tag("/images/iphone_apps.jpg", :alt => "Slideshow Image 1", :class => "active")
            =image_tag("/images/loc_based_app.jpg", :alt => "Slideshow Image 2")
            =image_tag("/images/wordpress.jpg", :alt => "Slideshow Image 3")
            =image_tag("/images/joomla.jpg", :alt => "Slideshow Image 3")
            =image_tag("/images/facebook.jpg", :alt => "Slideshow Image 3")
            =image_tag("/images/rails.jpg", :alt => "Slideshow Image 3")
