
	  <h1 class="heading">Contact Us</h1><br clear="all" />
	  	<?php echo $form->create(array('action'=>'addInformation'));?>
	    <table width="100%" border="0" cellspacing="0px" cellpadding="5px">
          <tr>
            <td >Name:</td>
            <td ><?php echo $form->input('name', array('class' => 'textf', 'label' => '','id'=>'name'));?></td>
          </tr>
          <tr>
            <td>Contact Number:</td>
            <td><?php echo $form->input('telephone', array('class' => 'textf', 'label' => '','id'=>'phone'));?></td>
          </tr>
          <tr>
            <td>Email Adress:</td>
            <td><?php echo $form->input('email', array('class' => 'textf', 'label' => '','id'=>'email'));?></td>
          </tr>
          <tr>
            <td style="vertical-align:top;">How can We help You?</td>
						<td><?php echo $form->textarea('description', array('class' => 'texta', 'label' => '','id'=>'comments'));?></td>
			</tr>
			<tr>
			<td></td>
			<td >
				<div class="buttn"><?php  echo $form->submit('submit.jpg', array("alt" => "LOGO","border" => "0",
				'onclick'=>'return validateform(); ')); ?>
	</div>
	<div class="buttn">
	<?php echo $html->image("cancel.jpg", array("alt" => "LOGO","border" => "0",'onclick'=>'return resetForm1(); ')); ?>
	</div>
<!--				<input style="margin-right:5px; margin-left:5px;" name="submit" type="button" class="btn-submit" value="Submit" />
				
				<input style="margin-right:5px;" name="submit" type="button" class="btn-submit" value="Cancel" />-->
			</td>
		  </tr>
        </table>
				<?php  echo $form->end();?>	
