<div class="slider" style="margin-left:11px;">
  <?php echo $this->element('product_list', array('cache' => false)); ?>
  <!--<div style="width:240px;float:left; margin-top:48px;">
<img src="img/website-maintenance.jpg"/>
</div>-->
  <?php echo $this->element('main_slider', array('cache' => false)); ?>
  <!--                  <div style="width:175px; margin-top:262px; float:left;">
<img src="img/dotcom4.jpg"/>
</div>-->
</div>
