  <div> <img src="<?php echo $this->webroot;?>img/strip_03.jpg" width="771" height="30"> </div>
<div style="border:1px solid #ccc;">
<ul class="products"> 
  
	<?php
        foreach($data['result_set'] as $value):
		$id = $value[$data['model']]['id'];
    ?>
      <li>

      <span class="package-new-text">
	  	<?php echo $value[$data['model']]['name']; ?>
      </span> 
      <span class="price_heading" >
	  <?php echo '$'.''.$value[$data['model']]['price']; ?>
      </span>
      <br>
      <a href="<?php echo $this->webroot;?>packages/index/<?php echo $id  ?>">
        <img src="<?php echo $this->webroot;?>admin/img/<?php echo $data['image_folder'] ?>/<?php echo $value[$data['model']]['image']?>" style="margin-top: 10px; margin-bottom: 6px;" width="198" height="82">
        </a>
        <br>
        <span class="package-new-small-text">
        <?php echo $value[$data['model']]['discription']; ?>
        </span>
        <br>
        <a href="">
        <img src="<?php echo $this->webroot;?>img/packages_38.jpg" style="margin-top: 5px;" align="right" border="0" width="72" height="22">
        </a> 
        </li>
	<?php endforeach; ?>
</ul>

<br style="clear:both;" />
</div>
  <div> <img src="<?php echo $this->webroot;?>img/kdm-inner-page-bottom.jpg" width="771" height="30">
   </div>


