<div id="homebot" style="height: 765px; margin-left:24px; text-align: left;" align="center">
  <div style="width: 792px; margin-top: 10px;"><img src="<?php echo $this->webroot;?>img/strip_03.jpg" width="792" height="30"></div>
  <div style="padding: 15px; width: 762px; background-image: url(../img/strip_06.jpg); height: 720px;">
    <div class="inner-content" style="margin-top: 15px;">
      <div style="height: 198px; width: 762px;">
        <div class="package-new">
        <span class="package-new-text">logodesign</span> <span class="headingorange" style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; font-size: 20px; font-weight: bold;">$69</span><br>
          <img src="<?php echo $this->webroot;?>img/img_03.jpg" style="margin-top: 10px; margin-bottom: 6px;" width="198" height="82"><br>
          <span class="package-new-small-text">Professional custom company logo design. Get professional visual 
          identity for your company </span><br>
          <a href="http://www.kooldesignmaker.com/logo-design"><img src="<?php echo $this->webroot;?>img/packages_38.jpg" style="margin-top: 5px;" align="right" border="0" width="72" height="22"></a> 
          </div>
        <div class="package-new" style="margin-left: 10px;"><span class="package-new-text">website design</span> <span class="headingorange" style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; font-size: 20px; font-weight: bold;"> $99</span><br>
          <img src="<?php echo $this->webroot;?>img/img_05.jpg" style="margin-top: 10px; margin-bottom: 6px;" width="198" height="82"><br>
          <span class="package-new-small-text">We offer Custom, Eye-catching 
          Website Design &amp; Development at 
          affordable price.</span><br>
          <a href="http://www.kooldesignmaker.com/website-design"><img src="<?php echo $this->webroot;?>img/packages_38.jpg" style="margin-top: 5px;" align="right" border="0" width="72" height="22"></a> </div>
        <div class="package-new" style="margin-left: 30px;"><span class="package-new-text">banners design</span> <span class="headingorange" style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; font-size: 20px; font-weight: bold;">$20</span><br>
          <img src="<?php echo $this->webroot;?>img/img_07.jpg" style="margin-top: 10px; margin-bottom: 6px;" width="198" height="82"><br>
          <span class="package-new-small-text">Custom Banners Ad Design. Fast 
          delivery and high quality at affordable 
          rates. No templates </span><br>
          <a href="http://www.kooldesignmaker.com/animated-gif-banner-design"><img src="<?php echo $this->webroot;?>img/packages_38.jpg" style="margin-top: 5px;" align="right" border="0" width="72" height="22"></a></div>
        <!--<div style="background-image:url(images/inner-bg-26.jpg); width:220px; height:226px; margin-left:30px; float:left;"></div><div style="background-image:url(images/inner-bg-26.jpg); width:220px; height:226px; margin-left:30px; float:left;"></div>-->
      </div>
      <div style="margin-top: 20px; height: 198px; float: left;">
        <div class="package-new"><span class="package-new-text">email template</span> <span class="headingorange" style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; font-size: 20px; font-weight: bold;">$45</span><br>
          <img src="<?php echo $this->webroot;?>img/packages_42.jpg" style="margin-top: 10px; margin-bottom: 6px;" width="198" height="82"><br>
          <span class="package-new-small-text">Looking For an outclass promotional 
          item, full color Custom printed email 
          templates.</span><br>
          <a href="http://www.kooldesignmaker.com/email-template-design"><img src="<?php echo $this->webroot;?>img/packages_38.jpg" style="margin-top: 5px;" align="right" border="0" width="72" height="22"></a> </div>
        <div class="package-new" style="margin-left: 10px;"><span class="package-new-text">landing page</span> <span class="headingorange" style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; font-size: 20px; font-weight: bold;">$55</span><br>
          <img src="<?php echo $this->webroot;?>img/img_15.jpg" style="margin-top: 10px; margin-bottom: 6px;" width="198" height="82"><br>
          <span class="package-new-small-text">Get High Quality custom landing 
          page design at very affordably 
          price. </span><br>
          <a href="http://www.kooldesignmaker.com/landing-page-design"><img src="<?php echo $this->webroot;?>img/packages_38.jpg" style="margin-top: 5px;" align="right" border="0" width="72" height="22"></a> </div>
        <div class="package-new" style="margin-left: 30px;"><span class="package-new-text">brochure design </span> <span class="headingorange" style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; font-size: 20px; font-weight: bold;">$59</span><br>
          <img src="<?php echo $this->webroot;?>img/img_18.jpg" style="margin-top: 10px; margin-bottom: 6px;" width="198" height="82"><br>
          <span class="package-new-small-text" style="font-size: 11px;">Express your own personal style and 
          add professionalism to your business 
          correspondence through brochures.</span><br>
          <a href="http://www.kooldesignmaker.com/brochure-design"><img src="<?php echo $this->webroot;?>img/packages_38.jpg" style="margin-top: 5px;" align="right" border="0" width="72" height="22"></a></div>
        <!--<div style="background-image:url(images/inner-bg-26.jpg); width:220px; height:226px; margin-left:30px; float:left;"></div><div style="background-image:url(images/inner-bg-26.jpg); width:220px; height:226px; margin-left:30px; float:left;"></div>-->
      </div>
      <div style="margin-top: 40px; margin-bottom: 60px; height: 198px; float: left;">
        <div class="package-new"><span class="package-new-text">postcards</span> <span class="headingorange" style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; font-size: 20px; font-weight: bold;">$39</span><br>
          <img src="<?php echo $this->webroot;?>img/img_24.jpg" style="margin-top: 10px; margin-bottom: 6px;" width="198" height="82"><br>
          <span class="package-new-small-text">Post cards is an effective and time 
          tested way of direct marketing. A 
          postcard can help you </span><br>
          <a href="http://www.kooldesignmaker.com/postcard-design"><img src="<?php echo $this->webroot;?>img/packages_38.jpg" style="margin-top: 5px;" align="right" border="0" width="72" height="22"></a> </div>
        <div class="package-new" style="margin-left: 10px;"><span class="package-new-text">flyer design</span> <span class="headingorange" style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; font-size: 20px; font-weight: bold;">$69</span><br>
          <img src="<?php echo $this->webroot;?>img/img_26.jpg" style="margin-top: 10px; margin-bottom: 6px;" width="198" height="82"><br>
          <span class="package-new-small-text">Flyer design is imperative in 
          building a corporate image of a 
          company.. </span><br>
          <br>
          <a href="http://www.kooldesignmaker.com/flyer-design"><img src="<?php echo $this->webroot;?>img/packages_38.jpg" style="margin-top: 5px;" align="right" border="0" width="72" height="22"></a> </div>
        <div class="package-new" style="margin-left: 30px;"><span class="package-new-text">stationery</span> <span class="headingorange" style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; font-size: 20px; font-weight: bold;">$39</span><br>
          <img src="<?php echo $this->webroot;?>img/img_27.jpg" style="margin-top: 10px; margin-bottom: 6px;" width="198" height="82"><br>
          <span class="package-new-small-text">Professional Full color Business 
          cards, letterheads and envelopes 
          Design. </span><br>
          <a href="#"><img src="<?php echo $this->webroot;?>img/packages_38.jpg" style="margin-top: 5px;" align="right" border="0" width="72" height="22"></a></div>
        <!--<div style="background-image:url(images/inner-bg-26.jpg); width:220px; height:226px; margin-left:30px; float:left;"></div><div style="background-image:url(images/inner-bg-26.jpg); width:220px; height:226px; margin-left:30px; float:left;"></div>-->
      </div>
    </div>
  </div>
  <div style="width: 792px; height: 32px; background-image: url(../img/kdm-inner-page-bottom.jpg); margin-bottom: 5px; line-height: 27px;"></div>
</div>
