<div id="left-nav" style="float:left;">
  <div class="leftnav-head"><img src="<?php echo $this->webroot;?>img/productslist-header.jpg" width="172" height="38"></div>
  <div>
    <div class="group_div" onclick="toggle_div('div_5')" id="main_div_5"> Logos </div>
    <div style="display: block;" id="div_5"> 
        <a href="">
        	<div id="nav-tab" onmouseover='id="nav-tab-hover"' onmouseout='id="nav-tab"'> 
          		Logo Design 
          	</div>
        </a> 
        <a href="">
    		<div id="nav-tab" onmouseover='id="nav-tab-hover"' onmouseout='id="nav-tab"'> 				 				Logo Redesign 
            </div>
      </a> 
      <a href="">
      	<div id="nav-tab" onmouseover='id="nav-tab-hover"' onmouseout='id="nav-tab"'> 
        	Animated Logo Design 
        </div>
      </a>
      <a href="">
      	<div id="nav-tab" onmouseover='id="nav-tab-hover"' onmouseout='id="nav-tab"'>
         	Discount Logo Packages 
        </div>
      </a> 
  </div>
</div>
  