%h2.content-page-heading Contact Us
.content-image
  %img{:src => "/images/strip_up.jpg"}
.content-pages
  #content.left
    .highlight
      %h3 Welcome Note
      %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
      %a.more{:href => "#"} Find out more
  %br{:style => "clear:both;"}
.content-image
  %img{:src => "/images/strip_down.jpg"}